<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page  - Index</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--title th:text="${title}">title</title-->
        <!--title th:text="index city page">title</title-->
        <!--script th:src="@{../../static/css/email.css}"></script-->
    </head>
    <body>
        <a href="gttOrderPending1">Show Pending Order</a>
        <a href="gttOrderPending2">Show Pending TP</a><Br>
        
        <a href="tablesizes">Show Pending TP</a>
        
    </body>
</html>